<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/76728a2328.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(function(){

            $("#topbar").load("topbar"); 
            $("#sidebar").load("sidebar");

        });

        var page = 1;
        var totol_pages = 3;
        localStorage.setItem('page',page);
        document.addEventListener('DOMContentLoaded', function() {
            renderDataInTheTable(data,);
            renderTablePages(totol_pages);
        });
        function getData(){
            fetch(`https://reqres.in/api/users?page=${page}`)
            .then((res)=>{
                console.log(res);
                return res.json();
            })
            .then((jsonData)=>{
                console.log(jsonData);
                console.log(jsonData.data);
                renderDataInTheTable(jsonData.data)
            })
            .catch((err)=>{
                console.log(err);
            })
            document.addEventListener('DOMContentLoaded', function() {
                renderTablePages(totol_pages);
            });
        }
        const data = [
                {
                    "date": "2024/01/22",
                    "type": "包餡",
                    "worker": "王00",
                    "serial": "A00001",
                    "weight1": "80/83",
                    "weight2": "80/83",
                    "weight3": "80/83",
                    "weight4": "80/83",
                    "grade": "A/B+",
                },
                {
                    "date": "2024/01/22",
                    "type": "出餡",
                    "worker": "陳○○",
                    "serial": "A00002",
                    "weight1": "92/90",
                    "weight2": "92/90",
                    "weight3": "92/90",
                    "weight4": "92/90",
                    "grade": "A/B+",
                },
            ];
        console.log(data);
        function renderDataInTheTable(tableData) {
            const mytable = document.getElementById("review_list");
            const mytableBody = document.createElement("tbody");
            let rowCounter = 1;
            tableData.forEach(data => {
                let newRow = document.createElement("tr");
                Object.values(data).forEach((value) => {
                    let cell = document.createElement("td");
                    cell.classList.add('text-center');
                    cell.innerText = value;
                    newRow.appendChild(cell);
                })
                mytableBody.appendChild(newRow);
            });
            mytable.appendChild(mytableBody);
        }

        function renderTablePages(total_pages) {
            const emp_list_pages = document.getElementById('review_list_pages');
            // 创建 "Previous" 链接
            let previousLink = document.createElement('a');
            previousLink.classList.add('page-link');
            previousLink.style.color = 'gray';
            previousLink.href = '#';
            previousLink.textContent = 'Previous';
            previousLink.onclick = function() {
                previousPage();
            };

            let previousItem = document.createElement('li');
            previousItem.classList.add('page-item');
            previousItem.appendChild(previousLink);
            emp_list_pages.appendChild(previousItem);

            for (let i = 1; i <= total_pages; i++) {
                let pageLink = document.createElement('a');
                pageLink.classList.add('page-link');
                pageLink.style.color = 'gray';
                pageLink.href = '#';
                pageLink.textContent = i;
                pageLink.onclick = function() {
                    loadPage(i); // 点击链接时加载对应页面
                };
    
                let pageItem = document.createElement('li');
                pageItem.classList.add('page-item');
                pageItem.appendChild(pageLink);
    
                emp_list_pages.appendChild(pageItem);
            }

            // 创建 "Next" 链接
            let nextLink = document.createElement('a');
            nextLink.classList.add('page-link');
            nextLink.style.color = 'gray';
            nextLink.href = '#';
            nextLink.textContent = 'Previous';
            nextLink.onclick = function() {
                nextPage();
            };

            let nextItem = document.createElement('li');
            nextItem.classList.add('page-item');
            nextItem.appendChild(nextLink);
            emp_list_pages.appendChild(nextItem);

        }

        function previousPage() {
            let page = localStorage.getItem('page');
            page = parseInt(page);
            while (page>1){
                console.log('Previous page clicked');
                page = page - 1;
                loadPage(page);
                break;
            }
        }

        function nextPage() {
            let page = localStorage.getItem('page');
            page = parseInt(page);
            while (page<totol_pages){
                console.log('Previous page clicked');
                page = page + 1;
                loadPage(page);
                break;
            }
        }

        function loadPage(pageNumber) {
            // 加载指定页码的内容
            let emp_list = document.getElementById('emp_list');
            // 移除表格中的所有行
            while (emp_list.rows.length > 1) {
                emp_list.deleteRow(1);
            }
            fetch(`https://reqres.in/api/users?page=${pageNumber}`)
            .then((res)=>{
                console.log(res);
                return res.json();
            })
            .then((jsonData)=>{
                console.log(jsonData);
                console.log(jsonData.data);
                renderDataInTheTable(jsonData.data)
            })
            .catch((err)=>{
                console.log(err);
            })
            localStorage.setItem('page',pageNumber);
        }
        function search() {
            // 获取用户输入的搜索关键字
            var keyword = document.getElementById("searchInput").value;
    
            // 在这里，你可以使用 XMLHttpRequest 或者 Fetch API 来发送请求到后端 API
            // 以下是一个简单的示例，你需要替换成你自己的后端 API 地址和逻辑
            var apiUrl = "https://your-backend-api.com/search?keyword=" + encodeURIComponent(keyword);
    
            // 发送 GET 请求到后端 API
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    // 在这里处理从后端返回的搜索结果
                    console.log("搜索结果:", data);
                    // 可以将搜索结果展示在页面上，或者执行其他操作
                })
                .catch(error => {
                    console.error("发生错误:", error);
                });
        }
    </script>
</head>

<body>
    <div class="container-fluid m-0">
        
        <!-- topbar start -->
        <div id="topbar"></div>
        <!-- topbar end -->

        <!-- sidebar start -->
        <div id="sidebar"></div>
        <!-- sidebar end -->

        <!-- main code start -->
        <div style="margin-left: 20%">
            <div class="main" style="margin-top: 70px;">
            <!-- <div class="col-10"
                style="height:100vh;box-shadow: 5px 0px 5px #ccc;">
                <div class="row  mx-2 mt-4"> -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="index">首頁</a></li>
                          <li class="breadcrumb-item"><a href="competency_index">職能管理</a></li>            
                          <li class="breadcrumb-item active" aria-current="page">評量成績統計與檢視</li>
                        </ol>
                    </nav>
                </div>
                <div class="row ms-2 ">
                    <div class="col">
                        <h2 style="display: inline;">評量成績統計與檢視</h2>
                    </div>
                </div>
                <div class="row justify-content-end mt-3">
                    <div class="col-2">
                        <div class="input-group" data-mdb-input-init>
                            <input type="search" id="searchInput" class="form-control" />
                            <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                                <i class="fas fa-search"></i>
                            </button>
                        </div> 
                    </div>
                </div>
                <div class="row ms-2 mt-0">
                    <table class="table" id="review_list">
                        <thead>
                          <tr style="border-bottom: 2px solid black;">
                            <th scope="col" class="text-center">評量日期</th>
                            <th scope="col" class="text-center">項目</th>
                            <th scope="col" class="text-center">姓名</th>
                            <th scope="col" class="text-center">編號</th>
                            <th scope="col" class="text-center">動作品質分數<br>（個人/全體）</th>
                            <th scope="col" class="text-center">產出品質分數<br>（個人/全體）</th>                            
                            <th scope="col" class="text-center">效率品質分數<br>（個人/全體）</th>                            
                            <th scope="col" class="text-center">平均品質分數<br>（個人/全體）</th>                            
                            <th scope="col" class="text-center">等級<br>（個人/全體）</th>                            
                          </tr>
                        </thead>
                    </table>
                <div class="row">
                    <div class="col">
                        <small style="color: gray;">showing 1 to 10 of 57 entries</small>
                    </div>
                    <div class="col ">
                        <div class="row">
                            <div class="col d-flex justify-content-end align-items-end">
                                <nav>
                                    <ul class="pagination" id="review_list_pages">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <button type="button" class="btn btn-primary">批次啟用</button>
                    </div>                
                </div>
                </div>
            </div>
             <!-- main code end -->
            
        </div> 
    </div>
     
        
</body>

</html>

