<!-- sidebar start -->
<div class="row">
  <div class="col-2 mt-5 position-fixed h-100" style="box-shadow: 5px 0px 5px #ccc;">
      <div id="viewport">
          <div id="sidebar">
              <header class="overflow-hidden">
                  <div class="row mx-2 my-3">
                      <div class="col-auto px-0">
                          <h2 class="px-0 fw-bold">YJS</h2>
                      </div>
                      <div class="col-auto px-0 mb-1 mx-1" style="align-self: flex-end;">
                          <h6>employee training</h6>
                      </div>
                  </div>
              </header>
              <div class="row my-1">
                  <a href="index">
                      <button type="button" class="btn btn-light fs-5 text-start w-100 px-1">
                          <i class="fa-solid fa-house mx-3"></i>首頁
                      </button>
                  </a>
              </div>
              <div class="row my-1">
                  <a href="emp_auth_index">
                      <button type="button" class="btn btn-light fs-5 text-start w-100 px-1">
                          <i class="fa-solid fa-user mx-3"></i>人員與權限管理
                      </button>
                  </a>
              </div>
              <div class="row my-1">
                  <a href="edu_plan_index">
                      <button type="button" class="btn btn-light fs-5 text-start w-100 px-1">
                          <i class="fa-solid fa-book-bookmark  mx-3"></i>教育訓練管理
                      </button>
                  </a>
              </div>
              <div class="row my-1">
                  <a href="competency_index">
                      <button type="button" class="btn btn-light fs-5 text-start w-100 px-1">
                          <i class="fa-solid fa-clipboard-check mx-3"></i>職能管理
                      </button>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- sidebar end -->