<!-- topbar start -->
<div class="row position-fixed" style="z-index: 100;">
  <div class="navbar d-flex justify-content-end bg-white position-fixed"
      style="box-shadow: 0px 5px 5px #ccc;">
      <h4 class="my-auto" id="userName"></h4>
      <i class="fa-solid fa-user-tie fa-2xl mx-3"></i>
  </div>
</div>
<!-- topbar end -->
<script type="text/javascript">
  // 抓取session 中的 login值
  function getSession () {
      // 从 sessionStorage 中获取存储的值
      var sessionValue = sessionStorage.getItem('username');
      // 获取 sessionStorage 中的所有键
      // var keys = Object.keys(sessionStorage);

      // 遍历所有键，并获取对应的值
      // keys.forEach(function(key) {
      //     var value = sessionStorage.getItem(key);
      //     // console.log('Key:', key, 'Value:', value);
      // });
      if (sessionValue) {
          // 獲取輸入元素
          var userName = document.getElementById('userName');
          // console.log('userName' + sessionValue);
          // 設置輸入元素的值
          userName.innerHTML = sessionValue;
      } else {
          window.location.assign('login');
      }
  }
  getSession();
</script>